.start-pause-button {
  -fx-background-color: #7cff78;
  -fx-shape: "M483.34 299.58C501.933 312.287 501.933 339.713 483.34 352.42L278.055 492.71C256.816 507.225 228 492.016 228 466.291L228 185.709C228 159.984 256.816 144.775 278.055 159.29L483.34 299.58Z";
}

.start-pause-button:active {
  -fx-background-color: #ff5342;
  -fx-shape: "M191 211C191 188.909 208.909 171 231 171C253.091 171 271 188.909 271 211V435.918C271 458.009 253.091 475.918 231 475.918C208.909 475.918 191 458.009 191 435.918V211Z M381 211C381 188.909 398.909 171 421 171C443.091 171 461 188.909 461 211V435.918C461 458.009 443.091 475.918 421 475.918C398.909 475.918 381 458.009 381 435.918V211Z";
}
.start-pause-button:disabled{
  -fx-background-color: #b5b5b5;
}