.restart-button {
  -fx-background-color: #ffffff;
  -fx-shape: "M287.797 73.6908C295.148 52.8581 317.995 41.9286 338.827 49.279C421.564 78.4713 481 157.267 481 250.08C481 367.738 385.471 463 267.778 463C150.084 463 54.555 367.738 54.555 250.08C54.555 206.767 67.5044 166.505 89.7182 132.915H62C39.9086 132.915 22 115.006 22 92.9147C22 70.8233 39.9086 52.9147 62 52.9147H195.438C217.529 52.9147 235.438 70.8233 235.438 92.9147V208C235.438 230.091 217.529 248 195.438 248C173.347 248 155.438 230.091 155.438 208V178.593C142.207 199.253 134.555 223.79 134.555 250.08C134.555 323.424 194.135 383 267.778 383C341.42 383 401 323.424 401 250.08C401 192.313 364.031 143.005 312.209 124.721C291.377 117.37 280.447 94.5235 287.797 73.6908Z";
}

.restart-button:active {
  -fx-background-color: #ff5342;
  -fx-shape: "M168 168H485V485H168V168Z";
}